<div class="container">
	<div class="top-banner"></div>
	<div class="top-search-area" id="searchBox"></div>
	<div id="tabs">
	</div>
	<div class="row">
		<div class="col-md-8">
	       	<div id="info">
	       	</div>
	       	
	        <ul class="list-unstyled" id="results">
			</ul>
	
	     	<div align="left" class="text search-pagination">
			</div>
		</div>
	    <div class="col-md-1">
		</div>
	    <div class="col-md-2">
			<ol class="list-unstyled facet-block" id="facet-fields">
			</ol>
		</div>
    </div>
    <div class="bottom-footer">
    Powered by WiSe™
    </div>
</div>
<div class='loading-panel'></div>