webapps/wise/WEB-INF/classes
tags
kernel/core*/data
zookeeper.out
kernel/core*_shard*_replica*
kernel/core[1-9]
kernel/core[1-9][0-9]
Thumbs.db
jetty9/logs/*
!jetty9/logs/.donotdelete
jetty9/work/*
!jetty9/work/.donotdelete
jetty.state
jetty.pid
kernel/db
rebel.xml
db
dist
dataimport.properties
boch_htmls
velocity.log
build
kernel/core-user-*
.settings
.metadata/
RemoteSystemsTempFiles/.project
kernel/es/data
kernel/dict/customdata
kernel/dict/fuzzydata
kernel/dict/fuzzy2data
webapps/wise/wise/ckeditor-upload
dataimport-from-EL.properties
kernel/dict/fuzzydata*
kernel/cache
kernel/dialogs/*.json
webapps/wise/WEB-INF/lib/netty-tcnative-boringssl-static-*.jar
webapps/wise/cache
kernel/dict/fuzzydata_bank
.gradle
webapps/wise/commons/*.wav
kernel/dict/hanlp/data
webapps/wise/commons/imagemaps/*
webapps/wise/commons/*.m4a
webapps/wise/commons/*_auto.xls
dataimport-from-UC.properties
webapps/wise/img/line/*